.TotalCard {
  border: 1px solid black;
  width: 330px;
  background-color: #2a2e35;
  border-radius: 15px;
  margin-left: 110px;
  margin-bottom: 40px;
}
.CourseHeading {
  color: white;
  font-size: 20px;
  font-weight: 800;
  padding-top: 25px;
  padding-left: 10px;
}
.CourseOverview {
  color: white;
  font-size: 13px;
  padding-left: 10px;
  line-height: 15px;
}
.CourseVideo{
  border-top-right-radius:15px ;
  border-top-left-radius:15px ;

}
