.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  /* background-color: red; */
  height: 80px;
  margin-left: 0px;
  /* margin-right: -10px; */
}
.UnGraduation {
  font-size: 40px;
  margin-left: 20px;
}

ul {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  list-style: none;
}
.navbarItems {
  font-size: 17px;
  padding: 20px;
  margin-right: 20px;
  text-decoration: none;
  color: blue;
  cursor: pointer;
}
/* .navbar1 :hover{
    border: 1px solid rgba(23,70,162,255);
    background-color:rgba(23,70,162,255);
    color: white;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: -10px;
    padding-top:10px ;
    height:10px;
    margin-left: 10px; 
    
   
   
} */

.button1 {
  border: 1px solid rgba(23, 70, 162, 255);
  background-color: rgba(23, 70, 162, 255);
  /* background-color: red; */
  color: white;
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  width: 70px;
  text-align: center;
  padding-top: 10px;
  margin-top: 10px;
  height: 20px;
  margin-left: 20px;
}

.text1 {
  font-size: 60px;
  margin-left: 50px;
}
.text2 {
  font-size: 49px;
  margin-left: 50px;
  color: rgba(23, 70, 162, 255);
}
.StartLearning {
  padding-left: 30px;
  font-size: 25px;
  margin-top: 40px;
}
.MainContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 100px;
  background-color: white;
}
.image {
  margin-right: 70px;
}

.Trail {
  display: flex;
  flex-direction: row;
  margin-left: 40px;
}
.button2 {
  font-size: 25px;
  border: 2px solid rgba(23, 70, 162, 255);
  background-color: rgba(23, 70, 162, 255);
  color: white;
  border-radius: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  box-shadow: 4px 11px 20px rgba(11, 6, 65, 0.25);
}
.CenterPart {
  text-align: center;
  margin-top: 70px;
  background-color: rgba(23, 70, 162, 255);
  color: white;
  padding-top: 25px;
  padding-bottom: 60px;
  margin-left: 0px;
  margin-right: 0px;
}
.CenterQuestion {
  font-size: 45px;
}

.MiniHeading {
  font-size: 35px;
  font-weight: lighter;
}
.Answers {
  font-size: 25px;
}
.MainBottomLeft {
  padding-top: 100px;
}
.LetsTalk {
  font-size: 53px;
  font-weight: bold;
  /* text-align: center; */
  margin-top: 200px;
}

.BottomLeft1 {
  line-height: 10px;
  margin-left: 0px;
}
.BottomRight1 {
  margin-top: 30px;
  line-height: 5px;
  margin-bottom: 70px;
}
.BottomRightLine1 {
  font-size: 23px;
  font-weight: bold;
  padding-bottom: 20px;
  line-height: 5px;
}
.BottomRightContent1 {
  font-size: 23px;
}
.BottomRightContent11 {
  font-size: 25px;
  padding-top: 30px;
}
.MainBottom2 {
  display: flex;
  justify-content: space-around;
  background-color: rgba(23, 70, 162, 255);
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.BottomLeft2 {
  line-height: 10px;
  margin-left: 0px;
  padding-top: 100px;
}

.why {
  font-size: 40px;
  font-weight: bold;
  color: white;
}
.BottomRight2 {
  margin-top: 30px;
  line-height: 10px;
  margin-bottom: 32px;
  /* margin-bottom: 100px; */
}
.BottomRightContent2 {
  font-size: 25px;
  font-weight: 500;
  padding-top: 20px;
  color: white;
}
.CopyRight {
  background-color: black;
  color: white;
  padding: 15px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 40px;
}
/* 
@media only screen and (max-width: 500px) {
    .navbar{

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: fixed;
        top: 0;
        width:100%;
        background-color: white;
        
        }
        .UnGraduation{
            margin-top: 20px;
            font-size: 60px;
            margin-left: 20px;
        }
        
        ul{
            display: flex;
            flex-direction: row;
            list-style:none;
           
        }
        .navbar3{
            width:max-content;
        }
        .navbarItems{
            font-size: 45px;
            color: blue;
            cursor: pointer;
            
        
        }
        .text1{
            margin-top: 110px;
            font-size: 60px;
            margin-left: 20px;
           width:max-content;
        }

        .text2{
            font-size: 50px;
            margin-left: 50px;
            color:rgba(23,70,162,255);
        }
        .MainContent{
            margin-top: 100px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
           
        }
       
     .image{
             margin-right: -40px;
        
         margin-top: 100px;
           width: 400px;
        } 
         
        .Trail{
            width:max-content;
            margin-top: 30px;
            display: flex;
            flex-direction: row;
            margin-left: 10px;
            
        }

       .StartLearning{
        margin-top: 50px;
        font-size: 40px;
        margin-left: 10px;
       }

       .button2{
        font-size: 40px;
        border: 2px solid rgba(23,70,162,255);
        background-color:rgba(23,70,162,255);
        color: white;
        border-radius: 10px;
        padding-left: 50px;
        padding-right: 30px;
        margin-left: 40px;
        padding-top: 10px;
        padding-bottom: 10px;
        cursor: pointer;
        box-shadow: 4px 11px 20px rgba(11,6,65,0.25);
      
    }

    .CenterPart{
        width:max-content;
        margin-top: 100px;
        background-color: rgba(23,70,162,255);
        color: white;
        padding-top: 25px;
        padding-bottom: 30px;
        
        }

        .CenterQuestion{
            font-size: 70px;
        }
        
        .MiniHeading{
            font-size: 60px;
            font-weight: lighter;
        }
        .Answers{
            font-size: 45px;
            line-height: 50px;
        }
       
        .LetsTalk{
            font-size: 65px;
            font-weight: bold;
            margin-left: 20px;
           
        }

        #LetsTalk1{
            margin-left: 70px;
        }
      
    
        .MainBottomLeft{
            justify-content: center;
           
            width:max-content;
            display: flex;
            flex-direction: column;
        }

        .BottomLeft1{
            display: flex;
            flex-direction: row;
            line-height: 10px;
           
           
        }
        
        .BottomRight1{
            margin-left: 50px;
            margin-top: 30px;
            line-height: 55px;
           
        }
        .BottomRightLine1{
            font-size: 60px;
            font-weight: bold;
            padding-bottom: 20px;
            line-height: 55px;
        }
        .BottomRightContent1{
            font-size: 55px;
        }
        .BottomRightContent11{
            font-size: 50px;
            
        }
        
        .BottomRight2{
            margin-top: 30px;
            line-height: 10px;
            margin-bottom: 100px;
        }
        .BottomRightContent2{
            font-size: 28px;
            font-weight: bolder;
            padding-top: 20px;
            color: white;
        }
        .MainBottom2{
            width:max-content;
            display: flex;
            flex-direction: column;
            background-color: rgba(23,70,162,255);
            
        }
        .BottomLeft2{
            
            line-height: 10px;
            display: flex;
            flex-direction: row;
            justify-content: center;
          
          
        }
        
        .why{
            margin-left: 20px;  
            font-size: 60px;
            font-weight: bold;
            color:white;
        
        }
        .BottomRight2{
            margin-top: 20px;
            line-height: 20px;
            margin-bottom: 100px;
        }
        .BottomRightContent2{
            text-align: center;
            font-size: 52px;
            font-weight: bolder;
            padding-top: 10px;
            color: white;
        }
        .CopyRight{
            background-color: black;
            color: white;
            padding: 15px;
            margin-bottom: -10px;
            margin-left: -10px;
            margin-right: -7px;
            padding-left: 270px;
            padding-right: 250px;
            font-size: 50px;
            width: max-content;     
        }

        
} */

@media only screen and (max-width: 500px) {
  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;

    height: 120px;
  }
  #UnGraduation {
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
  }

  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
  }

  .navbarItems {
    font-size: 15px;
    color: blue;
    cursor: pointer;
    margin-left: -30px;
  }
  .navbar1 {
    display: flex;
    flex-direction: row;
    margin-top: 0px;
    list-style: none;
    margin-left: 0px;
  }
  .button1 {
    border: 1px solid rgba(23, 70, 162, 255);
    background-color: rgba(23, 70, 162, 255);
    color: white;
    font-size: 15px;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .text1 {
    margin-top: 30px;
    font-size: 20px;
    margin-left: 20px;
  }

  .text2 {
    font-size: 20px;
    margin-left: 30px;
    color: rgba(23, 70, 162, 255);
  }
  .MainContent {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .image {
    width: 200px;
  }

  .Trail {
    /* width:max-content; */
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    margin-left: 0px;
  }

  .StartLearning {
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
  }

  .button2 {
    font-size: 18px;
    border: 2px solid rgba(23, 70, 162, 255);
    background-color: rgba(23, 70, 162, 255);
    color: white;
    border-radius: 10px;
    margin-right: 90px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    box-shadow: 4px 11px 20px rgba(11, 6, 65, 0.25);
    margin-left: 90px;
    text-align: center;

    cursor: pointer;
  }

  .CenterPart {
    /* width:max-content; */
    margin-top: 20px;
    background-color: rgba(23, 70, 162, 255);
    color: white;
    border-radius: 10px;
    padding-bottom: 30px;
    margin-right: 1px;
    margin-left: 5px;
  }

  .CenterQuestion {
    font-size: 17px;
    font-weight: bold;
    padding-left: 5px;
  }

  .MiniHeading {
    font-size: 20px;
    font-weight: lighter;
    line-height: 20px;
    font-weight: bold;
  }
  .Answers {
    font-size: 18px;
    line-height: 30px;
  }

  .LetsTalk {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 0px;
  }

  .MainBottomLeft {
    display: flex;
    flex-direction: column;
  }

  .BottomRight1 {
    margin-left: 15px;
  }
  .BottomRightLine1 {
    font-size: 20px;
    font-weight: bold;

    line-height: 20px;
  }
  .BottomRightContent1 {
    font-size: 18px;
    line-height: 20px;
  }
  .BottomRightContent11 {
    font-size: 15px;
  }

  .BottomRightContent2 {
    font-size: 20px;
    font-weight: bolder;
    padding-top: 20px;
    color: white;
  }
  .MainBottom2 {
    display: flex;
    flex-direction: column;
    background-color: rgba(23, 70, 162, 255);

    /* margin-right: -200px; */
  }

  .why {
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-top: -40px;
    text-align: center;
  }
  .BottomRight2 {
    margin-top: 20px;
    line-height: 20px;
    /* margin-bottom: auto; */
  }
  .BottomRightContent2 {
    /* text-align: center; */
    margin-top: 0px;
    margin-left: 20px;
    padding-left: 10px;
    font-size: 18px;
    font-weight: bolder;
    padding-top: 10px;
    color: white;
  }
  .CopyRight {
    background-color: black;
    color: white;
    padding: 15px;
    margin-bottom: 0px;
    /* margin-left: -10px;
            margin-right: -7px; */
    /* padding-left: 270px;
            padding-right: 250px; */
    font-size: 15px;
    /* width: max-content;      */
  }
}
